* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0px;
  user-select: none;
  cursor: default;
}

div {
  transition: inherit;
}

.clear {
  clear: both;
}

.dropshadow {
  text-shadow: 3px 3px 2px #000000;
}

.card {
  transition: width 0.2s ease-in-out;
  width: 100px;
}

#player0 .card {
  vertical-align: top;
}

.card:hover {
  width: 160px;
}

.zone {
  position: absolute;
}

.zone.hand {
  white-space: nowrap;
  top: 40px;
}

#player1 .zone.hand {
  top: auto;
  bottom: 40px;
}

.zone.graveyard {
  right: 10px;
  width: 70px;
  height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#player1 .zone.graveyard {
  bottom: 42px;
}

.zone.graveyard .card {
  width: 50px;
}

.zone h1 {
  margin: 0;
  font-size: 30px;
}

#zone-battlefield {
  width: 100%;
  height: 100%;
}

.priority-indicator {
  width: 100%;
  height: 50%;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
}

.transition-background {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.transition-opacity-and-background {
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.has-priority-player0 .priority-indicator.player0 {
  background-color: rgba(255, 0, 0, 0.2);
}
.has-priority-player1 .priority-indicator.player1 {
  background-color: rgba(255, 0, 0, 0.2);
}

#zone-stack {
  width: 300px;
  top: 100px;
  right: 100px;
  border: 2px dashed white;
  padding: 10px;
  background-color: black;
  opacity: 0;
}

.player-area {
  position: absolute;
  padding: 10px;
  width: 100%;
}

.has-priority-player1 .player-area#player0,
.has-priority-player0 .player-area#player1 {
  pointer-events: none;
  opacity: 0.5;
}

.player-area#player1 {
  bottom: 0px;
}

#active-player-name {
  padding-right: 50px;
}

#turn-indicator {
  top: 50%;
  margin-top: -14px;
  position: absolute;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: black;
}

#active-player-info {
  position: absolute;
  top: -30px;
}

#turn-indicator div {
  display: inline-block;
}

#turn-phase-indicator {
  width: 100%;
}

#turn-phase-indicator div {
  text-align: center;
  width: 8%;
  font-size: 11px;
  height: 24px;
  vertical-align: top;
  padding-top: 6px;
}

.active-phase-untap #turn-phase-indicator #phase-untap {
  background-color: white;
  color: black;
}
.active-phase-upkeep #turn-phase-indicator #phase-upkeep {
  background-color: white;
  color: black;
}
.active-phase-draw #turn-phase-indicator #phase-draw {
  background-color: white;
  color: black;
}
.active-phase-main1 #turn-phase-indicator #phase-main1 {
  background-color: white;
  color: black;
}
.active-phase-begin-combat #turn-phase-indicator #phase-begin-combat {
  background-color: white;
  color: black;
}
.active-phase-declare-attackers #turn-phase-indicator #phase-declare-attackers {
  background-color: white;
  color: black;
}
.active-phase-declare-blockers #turn-phase-indicator #phase-declare-blockers {
  background-color: white;
  color: black;
}
.active-phase-combat-damage #turn-phase-indicator #phase-combat-damage {
  background-color: white;
  color: black;
}
.active-phase-end-combat #turn-phase-indicator #phase-end-combat {
  background-color: white;
  color: black;
}
.active-phase-main2 #turn-phase-indicator #phase-main2 {
  background-color: white;
  color: black;
}
.active-phase-end #turn-phase-indicator #phase-end {
  background-color: white;
  color: black;
}
.active-phase-cleanup #turn-phase-indicator #phase-cleanup {
  background-color: white;
  color: black;
}

.playercontrols a {
  text-decoration: underline;
  cursor: pointer;
}
